body {
    padding: 0 190px;
    padding-top: 86px;
    padding-bottom: 30px;
}

.shopease-header {
    background-color: #06b6d4;
    color: #0F172A;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    overflow: hidden;
    z-index: 100;
}

.checkout-text {
    font-size: 25px;
    font-weight: 600;
    color: #0F172A;
}

.checkout-text a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

@media (max-width: 480px) {
    .shopease-header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
    }

    .shopease-logo {
         display: none; 
    }

    .shopease-header-left-section {
        height: 100%;
        width: unset;
    }

    .shopease-mobile-logo {
        height: 110%;
    }

    .checkout-text {
        font-size: 22px;
        font-weight: 600;
        color: #0F172A;
    }

    .checkout-text a {
        text-decoration: none;
        font-size: 19px;
        color: white;
        font-weight: 500;
    }

}

@media (min-width: 481px) {
    .shopease-mobile-logo {
        display: none;
    }
}

/* Product review css */

main {
    display: flex;
    flex-direction: column;
}

.order-review-title {
    font-size: 30px;
    font-weight: 700;
    color: #0F172A;
    margin-top: 15px;
    margin-bottom: 10px;
}

.checkout-product-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 20px;
    align-items: start;
}

.orders-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.product-review {
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 6px;
}

.checkout-product-delivery-date {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
    margin-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #dedede;
    background-color: #f0f2f2;
    color: #0F172A;
}

.checkout-product-delivery-date span {
    color: #178598
}

.product-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 15px;
}

.image-description-box {
    display: flex;
    flex-direction: row;
}

.product-image {
    width: 160px;
    height: 180px;
    margin: 10px;
    margin-top: 0;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #0F172A;
}

.product-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.product-price {
    font-weight: 500;
    color: #d42806;
    margin-bottom: 7px;
}

.product-quantity {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    color: #0F172A;
    font-size: 18px;
    font-weight: 600;
}

.product-quantity span {
    font-weight: 500;
    margin-left: 2px;
    font-size: 18px;
}

.product-quantity-link{
    margin: 0 5px;
    text-decoration: none;
    color: #06b6d4;
    font-weight: 500;
    cursor: pointer;
}

.product-quantity-link:hover {
    color: #d42806;
}

.product-quantity-link:active {
    color: #a31f04;
}

.products-delivery-option {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

.product-quantity {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.option input {
    width: 20px;
    height: 20px;
}

.label {
    display: flex;
    flex-direction: column;
}

.label-date {
    color: #178598;
    margin-bottom: 3px;
}

.payment-card {
    border: 1px solid #dedede;
    border-radius: 6px;
}

.payment-card-title {
    font-weight: 700;
    font-size: 20px;
    padding: 20px 15px;
    color: #0F172A;
    border-bottom: 1px solid #dedede;
    background-color: #f0f2f2;
}

.payment-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 20px;
}

.final-payment {
    border-top: 1px solid #e1e7e7;
}

.total {
    font-weight: 700;
    color: #d42806;
    font-size: 18px;
}

button {
    margin: 10px 20px;
    width: 89%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #06b6d4;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: #089cb8;
}

button:active {
    background-color: #0a8ba3;
}


/* Mobile Phone size for checkout */

@media (max-width: 480px) {

    body {
        padding: 0 10px;
        padding-top: 86px;
    }

    .checkout-product-grid {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .order-review-title {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .checkout-product-delivery-date {
        font-size: 16px;
    }

    .product-description {
        flex-direction: column;
        padding-right: 2px;
    }

    .product-image {
        width: 110px;
        height: 110px;
        margin-right: 2px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    .product-name {
        font-size: 16px;
    }

    .product-quantity {
        font-size: 16px;
        margin-left: 1px;
    }

    .product-quantity span {
        font-size: 16px;
    }

    .product-quantity span a {
        margin: 0;
        font-size: 15px;
    }

    .option input {
        width: 16px;
        height: 16px;
    }

    .products-delivery-option {
        padding-left: 15px;
    }
}

/* Tablet css */
@media (min-width:481px) and (max-width:768px) {
    body {
        padding: 0 60px;
        padding-top: 86px;
        padding-bottom: 200px;
    }

    .shopease-header {
        justify-content: space-between;
        padding: 0 30px;
    }

    .checkout-product-grid {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .payment-card {
        max-width: 80%;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    body {
        padding: 0 120px;
        padding-top: 86px;
        padding-bottom: 50px;
    }

    .checkout-product-grid {
        grid-template-columns: 1fr;
        row-gap: 40px;
        justify-content: center;
        align-items: unset;
    }

    .product-description {
        justify-content: space-between;
    }

    .payment-card {
        max-width: 70%;
        align-self: center;
    }
}

