.empty-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    border: 1px solid #dedede;
    padding: 10px;
    border-radius: 8px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    grid-column: 1 /-1;
}

.emogi {
    width: 100%;
}

.emogi img {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .empty-cart-container {
        max-width: 350px;
    }

    .emogi {
        width: 300px;
    }
}

.empty-text-title {
    margin-bottom: 10px;
    font-weight: 600;
    color: #0F172A;
    font-size: 25px;
}

.empty-text {
    color: #475569;
    margin-bottom: 5px;
    line-height: 1.6;
}

.empty-cart-button {
    display: inline-block;
    background: #06B6D4;
    padding: 10px 50px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.empty-cart-button:hover {
    background-color: #089cb8;
}

.empty-cart-button:active {
        background-color: #0a8ba3;
}