main {
    margin-top: 20px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 25px;
}

.product-container {
    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-bottom: 20px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-name {
    color: #111827;
    font-weight: 500;
    height: 35px;
    font-size: 17px;
}

.product-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 8px;

}

.product-rating-stars {
    width: 120px;
    margin-right: 5px;
}

.product-rating-counts {
    cursor: pointer;
    margin-top: 7px;
    color: #089cb8;
}

.product-price {
    color: #111827;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 20px;
}

.product-quantity-container button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

.product-quantity-container button img {
    width: 35px;
    height: 35px;
}

.deactivated {
    display: none;
    transition: 0.3s ease;
}

.quantity {  
    width: 50px;
    outline: none;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 3px 0;
    border: 2px solid #0F172A;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.add-to-cart-alert {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
    color: #067d62;
    opacity: 0;
}

.add-to-cart-alert img {
    width: 25px;
    margin-right: 5px;
}

.add-to-cart-button {
    width: 90%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #06b6d4;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: 0.2s ease;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #089cb8;
}

.add-to-cart-button:active {
    background-color: #0a8ba3;
}

/* To check the items overflowing on the page */

/* * {
    outline: 1px solid red !important;
} */