body {
    padding: 0 20%;
    padding-top: 86px;
    padding-bottom: 200px;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.orders-title {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}

.orders-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
}

.order-product-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.order-product-container-head {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    border-bottom: 1px solid #dedede;
    background-color: #f0f2f2;
}

.order-product-date-container {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.order-product-total-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.order-product-id-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 220px;
    flex-wrap: wrap;
}

.orders-product {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding: 10px;
}

.orders-product-container-body {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.orders-product-image-container {
    width: 200px;
    height: 200px;
}

.orders-product-image-container img {
    width: 100%;
    height: 100%;
}

.orders-product-container-body-right {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.orders-product-details-container {
    min-width: 180px;
}

.orders-product-details-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    color: #0F172A;
}

.orders-product-details-arrival-date {
    font-weight: 500;
    color: #0F172A;
    margin-bottom: 5px;
}

.orders-product-details-quantity span {
    font-weight: 600;
    font-size: 17px;
}

.explore-button {
    padding: 12px 30px;
    border-radius: 5px;
    margin: 12px 0;
    color: #212121;
    background-color: white;
    box-shadow: 0 2px 5px #d5d9d980;
    border: 1px solid #d5d9d9;
}

.explore-button:hover {
    background-color: #f7fafa;
}

.explore-button:active {
    background-color: #edfdff;
    box-shadow: none;
}

.orders-product-track-container {
    margin: 0 12px;
    width: 200px;
}

.follow-button {
    width: 100%;
    padding: 11px 0;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #06b6d4;
}

.follow-button:hover {
    background-color: #089cb8;
}

.follow-button:active {
    background-color: #0a8ba3;
}

/* Favorite Section */

.favorites {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.favorites-title {
    font-size: 30px;
    font-weight: 700;
}

.favorites-product-container {
    border: 1px solid #dedede;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}

.favorites-product-container-grid {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.favorites-product-container-head {
   border-bottom: 1px solid #dedede;
   background-color: #f0f2f2; 
   padding: 15px 15px;
   font-weight: 700;
   font-size: 20px;
   color: #0a8ba3;
   margin-bottom: 10px;
   width: auto;
}

.favorites-product-container-head span {
    color: #0F172A;
}

.favorites-product-container-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    column-gap: 30px;
    row-gap: 40px;
    padding: 20px;
    padding-top: 0;
}

.favorites-product-container-body-card {
    border: 1px solid #dedede;
    border-radius: 8px;
}

.favorites-product-image-container {
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.favorites-product-image-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.favorites-product-container-body-card-detail {
    padding: 20px;
    padding-top: 0;
}

.favorites-product-name-container {
    height: 40px;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: 600;
}

.favorites-product-price-container {
    color: #d42806;
}

.checkout-now {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 12px;
    box-shadow: 0 2px 5px #d5d9d980;
    border: 1px solid #d5d9d9;
    color: #0F172A;
}

.checkout-now:hover {
    background-color: #f7fafa;
}

.checkout-now:active {
    background-color: #edfdff;
    box-shadow: none;
}

/* Mobile Css */

@media (max-width: 480px) {
    body {
        padding: 0 15px;
        padding-top: 86px;
    }

    .orders-grid {
        row-gap: 40px;
    }

    .order-product-container-head {
        flex-direction: column;
    }

    .bold {
        font-weight: 700;
        font-size: 17px;
    }

    .space {
        margin-left: 4px;
    }

    .order-product-date-container, .order-product-total-container {
        flex-direction: row;
        width: unset;
        margin-bottom: 5px;
    }

    .order-product-id-container {
        display: grid;
        grid-template-columns: auto 1fr;
        min-width: unset;
    }

    .id {
        word-wrap: break-word;
    }

    .orders-product-container-body {
        grid-template-columns: 1fr;
    }

    .orders-product-image-container {
        width: 100%;
        height: 300px;
        margin-bottom: 8px;
    }

    .orders-product-image-container img {
        width: 100%;
        height: 100%;
    }

    .orders-product-details-container {
        min-width: unset;
    }

    .orders-product-container-body-right {
        flex-direction: column;
        align-items: unset;
    }

    .explore-button {
        width: 100%;
        margin: 10px 0 8px 0;
    }

    .orders-product-track-container {
        width: 100%;
        margin: 0;
    }

    /* Favorite Mobile css */

    .favorites {
        display: flex;
        flex-direction: column;
    }

    .favorites-product-container {
        display: flex;
        flex-direction: column;
    }

    .favorites-product-container-body {
        grid-template-columns: 1fr;
    }
}

/* Tablet css */
@media (min-width:481px) and (max-width:768px) {
    body {
        padding: 0 6%;
        padding-top: 86px;
        padding-bottom: 50px;
    }

    .favorites-product-container-body {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop css */

@media (min-width:769px) and (max-width:1024px) {
    body {
        padding: 10%;
        padding-top: 86px;
        padding-bottom: 50px;
    }

    .favorites-product-container-body {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }
}