@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Inter";
    min-height: 100%;
    padding-bottom: 5px;
    background-color: white;
    overflow-x: hidden;
}