.shopease-header {
    background-color: #06b6d4;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    overflow: hidden;
    z-index: 100;
}

.shopease-header-left-section {
    width: 200px;
}

.shopease-mobile-logo {
    display: none;
}

.shopease-header-left-section img:hover {
    border: 1px solid #0F172A;
}

.shopease-header-middle-section {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 15px;
}

.search-bar {
    height: 43px;
    flex: 1;
    min-width: 0;
    max-width: 600px;
    padding: 0 18px;
    border: none;
    outline: none;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 18px;
}

.search-bar:focus {
    border: 2px solid #0F172A;
}

.search-bar::placeholder {
    font-size: 18px;
}

.search-button {
    background-color: #0F172A;
    width: 50px;
    height: 43px;
    border: none;
    flex-shrink: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 7px;
}

.search-image {
    height: 25px;
    margin-left: 2px;
    margin-top: 7px;
}

.shopease-header-right-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.favourite-orders-section a {
    display: flex;
    flex-direction: row;
    color: #111827;
    text-decoration: none;
    padding: 8px 4px;
    margin-right: 15px;
}

.favourite-orders-section a:hover {
    border: 1px solid #111827;
}

.favorite-icon {
    width: 35px;
}

.fav-text {
    font-size: 14px;
    display: block;
}

.order-text {
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
}

.shopping-cart a {
    color: #111827;
    padding: 1px 7px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.shopping-cart a:hover {
    border: 1px solid #111827;
}

.cart-text {
    font-weight: 700;
    font-size: 17px;
}

.cart-quantity {
    color: aliceblue;
    position: absolute;
    top: -6px;
    left: 40%;
    width: 28px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    background-color: #d42806;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.toggle {
    opacity: 0;
}
